<!DOCTYPE html>
<html>
  <head>
    <title>Vue</title>

    <style>
      .demo {
        border: 1px solid black;
        width: 100px;
        height: 100px;
        margin: 20px;
      }
      .float {
        float: right;
      }
      .border {
        border: none;
      }
      .red {
        background: red;
      }
      .blue {
        background: blue;
      }
      .green {
        background: green;
      }

      .progress {
        width: 0;
        height: 20px;
        background: red;
      }
    </style>
  </head>
  <body>
    <div id="exercise">
      <button v-on:click="counter+=2">click</button>
      <button v-on:click="counter-=2">click</button>
      <button v-on:click="secondCounter+=2">click</button>
      <h2>
        {{ counter }}
        <!-- {{ results() }} -->
      </h2>
      <h3>{{ outpoot }}{{ secondCounter }}</h3>

      <input type="" v-model="modelName" />
      <div>{{ modelName }}</div>

      <div>
        <p>Current Value: {{ value }}</p>
        <button @click="value += 5">Add 5</button>
        <button @click="value += 1">Add 1</button>
        <p>{{ result }}</p>
        <input type="" v-model="color" />
        <p>{{ color }}</p>
      </div>

      <div>
        <div
          class="demo"
          @click="atachRed = !atachRed"
          :class="divClasses"
        ></div>
        <div
          class="demo"
          @click="atachRed = !atachRed"
          :class="{green:atachRed}"
        ></div>
        <div class="demo" @click="atachRed = !atachRed" :class="color"></div>
      </div>
      <input type="" v-model:input="modelName" />
      <button @click="{stylechanger}">
        click
      </button>
      <div class="progress" v-bind:style="{width}">
        {{ width }}
      </div>
    </div>

    <script src="vue.js"></script>
    <script src="script.js"></script>
  </body>
</html>
