.text-center {
  text-align: center;
}

.healthbar {
  width: 80%;
  height: 40px;
  background-color: #eee;
  margin: auto;
  transition: width 500ms;
}
.score_cont {
  display: flex;
  justify-content: center;
}
.score_cont span {
  background: #000;
  color: #fff;
  padding: 5px;
}
.score_cont div {
  margin-top: 20px;
  margin-right: 50px;
}
.controls,
.log {
  margin-top: 30px;
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0px 3px 6px #ccc;
}

.turn {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 22px;
}
#img_container img {
  width: 100px;
  height: 100px;
}
.log ul {
  list-style: none;
  font-weight: bold;
  text-transform: uppercase;
}
button {
  outline: none;
}

#img_container img {
  animation: fade 1s linear both;
  margin: 0 auto;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

.start,
#img_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  margin: 0 auto;
  width: 500px;
  text-align: center;
}
.tab_p {
  display: flex;
  justify-content: center;
}

.tabs {
  border-radius: 5px;
  background-color: orange;
  margin-right: 30px;
  padding: 10px 30px;
  cursor: pointer;
}

.log ul li {
  margin: 5px;
}

.log ul .player-turn {
  color: blue;
  background-color: #e4e8ff;
}

.log ul .monster-turn {
  color: red;
  background-color: #ffc0c1;
}

button {
  font-size: 20px;
  background-color: #00f30a;
  padding: 12px;
  box-shadow: 0 1px 1px black;
  margin: 10px;
}
button:active {
  transform: translateY(3px);
}
#start-game {
  background-color: #aaffb0;
}

#start-game:hover {
  background-color: #76ff7e;
}

#attack {
  background-color: #ff7367;
}

#attack:hover {
  background-color: #ff3f43;
}

#special-attack {
  background-color: #ffaf4f;
}

#special-attack:hover {
  background-color: #ff9a2b;
}

#heal {
  background-color: #aaffb0;
}

#heal:hover {
  background-color: #76ff7e;
}

#give-up {
  background-color: #ffffff;
}

#give-up:hover {
  background-color: #c7c7c7;
}
